<div class="mdc-checkbox<%= ' mdc-checkbox--disabled' if options[:disabled] %>">
    <input value="0" type="hidden" name="<%= options[:class_name] ? options[:class_name].to_s + '[' + attribute.to_s + ']' : attribute.to_s %>" />
    <input checked="<%= options[:checked] %>" class="mdc-checkbox__native-control" type="checkbox" value="1" name="<%= options[:class_name] ? options[:class_name].to_s + '[' + attribute.to_s + ']' : attribute.to_s %>" id="<%= options[:class_name] ? options[:class_name].to_s + '_' + attribute.to_s : attribute.to_s %>" />
    <div class="mdc-checkbox__background">
        <svg class='mdc-checkbox__checkmark' viewBox='0 0 24 24'><path class='mdc-checkbox__checkmark__path' fill='none' stroke='white' d='M1.73,12.91 8.1,19.28 22.79,4.59'/></svg>
        <div class="mdc-checkbox__mixedmark"></div>
    </div>
</div>
<% if options[:label] %><label for="<%= options[:class_name] ? options[:class_name].to_s + '_' + attribute.to_s : attribute.to_s %>"><%= options[:label].html_safe %></label><% end %>
